.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width:100%;
    height: 300px;
    background-color:#C4DDFF;
}

@media screen and (max-width:426px){
    .footer .header h4{
        text-align: center;
    }
}